##### K Means Clustering Algorithm Testing (Data Normalized (minmaxscaler)

Note: Previous Analysis determined there are no missing values in this dataset

Perform Data Cleaning Tasks

Data Encoding (Label Encoding)

Standardizing the Data (standard scaler) so that the Data has a mean of 0 and variance of 1

Splitting into Train Test Partitions

Builidng a Model (hyperparameter tuning - clusters)...
Training the Model on Train Data and Testing the Data (Orginal Data & Standardized Data)

Comparing results achieved from both models

https://www.analyticsvidhya.com/blog/2019/08/comprehensive-guide-k-means-clustering/

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import CSV file as pandas dataframe
bank_data = pd.read_csv('BankChurners.csv')
#Supress Warnings
import warnings
warnings.filterwarnings('ignore') 
#create copy(1) of dataframe
data_orginal = bank_data.copy(deep = True)

#datatype conversion
bank_data['Dependent_count'] = bank_data['Dependent_count'].astype('object')
#drop columns
bank_data.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'], axis = 1, inplace = True)
bank_data.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis = 1, inplace = True)
bank_data.drop(['CLIENTNUM'], axis = 1, inplace = True)

#create copy(2) of updated dataframe
updated_data = bank_data.copy(deep = True)
#dataset head
bank_data.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [3]:
#save labels as string
Labels = bank_data['Attrition_Flag']
Labels_keys = Labels.unique().tolist()
Labels = np.array(Labels)
print('Customer Status: ' + str(Labels_keys))

Customer Status: ['Existing Customer', 'Attrited Customer']

In [4]:
bank_data['Attrition_Flag'].value_counts()

Existing Customer    8500
Attrited Customer    1627
Name: Attrition_Flag, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

#Creating new dataframe by subsetting columns
new_data = bank_data[['Attrition_Flag','Customer_Age','Months_on_book','Total_Relationship_Count','Months_Inactive_12_mon',
                      'Contacts_Count_12_mon','Credit_Limit','Total_Revolving_Bal','Avg_Open_To_Buy','Total_Amt_Chng_Q4_Q1',
                     'Total_Trans_Amt','Total_Trans_Ct','Total_Ct_Chng_Q4_Q1','Avg_Utilization_Ratio']]
#label Encoder
label_flag = LabelEncoder()
#Encode categorical variable to numeric format for machine learning model
new_data['Attrition_Flag'] = label_flag.fit_transform(new_data['Attrition_Flag'])
new_data.head()

,Attrition_Flag,Customer_Age,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,49,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,1,51,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,1,40,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,1,40,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

##### Data Pre Processing (MinMax Scaler)

In [6]:
from sklearn.preprocessing import MinMaxScaler
#Initiate minxmax Scaler Function
scalermm = MinMaxScaler() 
data_mm = scalermm.fit_transform(new_data) 
# Converting the numpy array into a pandas DataFrame 
data_minmaxscaled= pd.DataFrame(data_mm) 
# Renaming the columns 
data_minmaxscaled.columns = new_data.columns 
#print head of dataset
data_minmaxscaled.head()

,Attrition_Flag,Customer_Age,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1.0,0.404255,0.604651,0.8,0.166667,0.500000,0.340190,0.308701,0.345116,0.392994,0.035273,0.248062,0.437534,0.061061
1,1.0,0.489362,0.720930,1.0,0.166667,0.333333,0.206112,0.343266,0.214093,0.453636,0.043452,0.178295,1.000000,0.105105
2,1.0,0.531915,0.534884,0.6,0.166667,0.000000,0.059850,0.000000,0.098948,0.763615,0.076611,0.077519,0.628164,0.000000
3,1.0,0.297872,0.488372,0.4,0.666667,0.166667,0.056676,1.000000,0.022977,0.413600,0.036775,0.077519,0.628164,0.760761
4,1.0,0.297872,0.186047,0.8,0.166667,0.000000,0.099091,0.000000,0.136557,0.640271,0.017025,0.139535,0.673129,0.000000

##### Spllitng Data into Train / Test Partitions (unscaled)

In [7]:
#Importing train test split
from sklearn.model_selection import train_test_split
#Importing sklearn package
from sklearn.cluster import KMeans

In [8]:
#Train Test Splitting
train, test = train_test_split(new_data,test_size = 0.3,random_state=31)
#X Train / Y Test Split
X_train = train
Y_test = test 
#Display shape of both splits
display('X train shape:', X_train.shape)
display('Y test shape:', Y_test.shape)

'X train shape:'

(7088, 14)

'Y test shape:'

(3039, 14)

### Model Development and Testing (unscaled)
- Inertia measures clustering quality
- Measures how spread out the clusters are (LOWER is better) Distance from each sample to centroid of its clusters

In [ ]:
# Hyperparameter Tuning (Testing K-Means Clustering)
##Finding optimal value for cluster number
#Create a list of values
list = [1,3,5,7,9,12,15,20,25,50]
#Create an empty list
inertias = []

#Initialize a for loop that loops through the list as cluster
for test_number in list:
    Model = KMeans(
    n_clusters = test_number)
    Model.fit(X_train)
    Predictions = Model.predict(Y_test)
    #Append the inertia's to empty list
    inertias.append(Model.inertia_)

In [ ]:
#Create Dataframe containing cluster numbers & Inertia values
results = pd.DataFrame({'Cluster Number':list,'Inertia Value':inertias})
results = results.set_index('Cluster Number')
results = results.sort_values('Inertia Value')
results

In [ ]:
#Plotting Inertias
plt.plot(list,inertias,'-o')
plt.xlabel('Number of K clusters')
plt.ylabel('Inertia Value')
plt.xticks(list)
plt.show()

##### Splitting pre-processd data (normalized) into train / test partitions

In [ ]:
#Train Test Splitting
train, test = train_test_split(data_minmaxscaled,test_size = 0.3,random_state=31)
#X Train / Y Test Split
X_train_1 = train
Y_test_1 = test 
#Display shape of both splits
display('X train 1 shape (normalized data):', X_train.shape)
display('Y test 1 shape (normalized data):', Y_test.shape)

In [ ]:
# Hyperparameter Tuning (Testing K-Means Clustering)
##Finding optimal value for cluster number
#Create a list of values
list_1 = [1,3,5,7,9,12,15,20,25,50,100]
#Create an empty list
inertias_1 = []

#Initialize a for loop that loops through the list as cluster
for test_number in list_1:
    Model_1 = KMeans(
    n_clusters = test_number)
    Model_1.fit(X_train_1)
    Predictions_1 = Model_1.predict(Y_test_1)
    #Append the inertia's to empty list
    inertias_1.append(Model_1.inertia_)
    
#Create Dataframe containing cluster numbers & Inertia values
results_1 = pd.DataFrame({'Cluster Number_1':list_1,'Inertia Value_1':inertias_1})
results_1 = results_1.set_index('Cluster Number_1')
results_1 = results_1.sort_values('Inertia Value_1')
results_1

In [ ]:
#Plotting Inertias
plt.plot(list_1,inertias_1,'-o')
plt.xlabel('Number of K clusters')
plt.ylabel('Inertia Value')
plt.xticks(list_1)
plt.show()

# Finalized K Means Model

Data Scaled

In [ ]:
#KMeans Model
Finalized_Model = KMeans(random_state = 31, n_clusters = 9)
Finalized_Model.fit(X_train_1)
FM_predictions = Finalized_Model.predict(Y_test_1)

In [ ]:
#Convert prediction (numpy array to list (list())
Predictions_list = FM_predictions.tolist()
print(Predictions_list)

In [ ]:
#Cluster Centers
Finalized_Model.cluster_centers_

Above is the coorodinates of cluster centers.

In [ ]:
#Cluster_Labels
Finalized_Model.labels_

In [ ]:
#Inertia Value
Finalized_Model.inertia_

https://www.kaggle.com/ruslankl/k-means-clustering-pca

https://www.datacamp.com/community/tutorials/machine-learning-python